Repository ParadigmFoundation/kosu-monorepo, pull requests merged in 2019-09, with the labels that each got.

#258 go-kosu: RPC Orders stream bug workaround
  packages/go-kosu/package.json
  packages/go-kosu/rpc/service.go
Labels: bug, go-kosu

#257 go-kosu: update RPC doc references
  packages/go-kosu/docs/kosu_rpc.md
  packages/go-kosu/rpc/service.go
Labels: enhancement, go-kosu

#262 go-kosu: mask ErrNotFound on RPC requests
  packages/go-kosu/rpc/service.go
Labels: bug, go-kosu

#266 Bug/go kosu/validator txs only
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/abci/app.go
  packages/go-kosu/abci/types/crypto.go
  packages/go-kosu/abci/types/types.go
Labels: bug, go-kosu

#268 go-kosu: use MaxOrderBytes in CheckTx
  packages/go-kosu/abci/app.go
  packages/go-kosu/abci/order_test.go
Labels: go-kosu

#264 go-kosu: introduce validators verification from app_state
  packages/go-kosu/Makefile
  packages/go-kosu/abci/app.go
  packages/go-kosu/abci/app_test.go
  packages/go-kosu/abci/client.go
  packages/go-kosu/abci/genesis.go
  packages/go-kosu/abci/setup.go
  packages/go-kosu/abci/types/README.md
  packages/go-kosu/abci/types/types.pb.go
  packages/go-kosu/abci/types/types.proto
  packages/go-kosu/abci/validators.go
  packages/go-kosu/abci/validators_test.go
  packages/go-kosu/abci/witness.go
  packages/go-kosu/go.mod
  packages/go-kosu/go.sum
  packages/go-kosu/testnet/node0/config/genesis.json
  packages/go-kosu/testnet/node1/config/genesis.json
  packages/go-kosu/testnet/node2/config/genesis.json
  packages/go-kosu/testnet/node3/config/genesis.json
  packages/go-kosu/tests/witness_test.go
  packages/go-kosu/witness/bindata.go
Labels: enhancement, go-kosu

#270 go-kosu: ethereum snapshot block
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/abci/app_test.go
  packages/go-kosu/abci/genesis.go
  packages/go-kosu/abci/validators.go
  packages/go-kosu/abci/validators_test.go
  packages/go-kosu/cmd/kosud/main.go
  packages/go-kosu/witness/eth.go
Labels: enhancement, go-kosu

#285 Remove confirmation_threshold from ConsensusParams
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/abci/types/types.pb.go
  packages/go-kosu/abci/types/types.proto
  packages/go-kosu/witness/bindata.go
Labels: go-kosu

#294 Sort ValidatorUpdates by address and returns updated set
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/abci/app.go
  packages/go-kosu/abci/app_test.go
  packages/go-kosu/abci/validators.go
Labels: bug, go-kosu

#296 go-kosu: Bump Tendermint version to v0.32.4
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/go.mod
  packages/go-kosu/go.sum
Labels: go-kosu

#298 create-portal-helper: update to allow posting to Kosu network
  packages/create-portal-helper/package.json
  packages/create-portal-helper/src/config/zrx_subcontract_maker_args.json
  packages/create-portal-helper/src/index.ts
  packages/create-portal-helper/webpack.config.js
Labels: WIP, bug

#295 go-kosu: Add InitialPosters support
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/abci/app.go
  packages/go-kosu/abci/app_test.go
  packages/go-kosu/abci/genesis.go
  packages/go-kosu/abci/types/types.go
Labels: go-kosu

#280 kosu-genesis-cli: adding package
  README.md
  cloudbuild/main.yaml
  packages/kosu-docs/docs/.vuepress/config.js
  packages/kosu-genesis-cli/.gitignore
  packages/kosu-genesis-cli/README.md
  packages/kosu-genesis-cli/docs/README.md
  packages/kosu-genesis-cli/docs/globals.md
  packages/kosu-genesis-cli/docs/interfaces/appstate.md
  packages/kosu-genesis-cli/docs/interfaces/consensusparams.md
  packages/kosu-genesis-cli/docs/interfaces/genesisblock.md
  packages/kosu-genesis-cli/docs/interfaces/genesisvalidator.md
  packages/kosu-genesis-cli/docs/interfaces/initialvalidatorinfo.md
  packages/kosu-genesis-cli/docs/interfaces/snapshotlisting.md
  packages/kosu-genesis-cli/docs/interfaces/snapshotposter.md
  packages/kosu-genesis-cli/docs/interfaces/snapshotvalidator.md
  packages/kosu-genesis-cli/package.json
  packages/kosu-genesis-cli/src/cli/cli.ts
  packages/kosu-genesis-cli/src/cli/index.ts
  packages/kosu-genesis-cli/src/cli/main.ts
  packages/kosu-genesis-cli/src/cli/types.d.ts
  packages/kosu-genesis-cli/src/cli/utils.ts
  packages/kosu-genesis-cli/src/functions.ts
  packages/kosu-genesis-cli/src/index.ts
  packages/kosu-genesis-cli/src/types.d.ts
  packages/kosu-genesis-cli/test/snapshot_test.ts
  packages/kosu-genesis-cli/test/unit_test.ts
  packages/kosu-genesis-cli/tsconfig.json
  packages/kosu-genesis-cli/tsconfig.test.json
  packages/kosu-genesis-cli/tslint.json
  packages/kosu-genesis-cli/typedoc.json
  packages/kosu-system-contracts/src/deployedAddresses.json
  packages/kosu.js/src/ValidatorRegistry.ts
  yarn.lock
Labels: enhancement
