Repository ParadigmFoundation/kosu-monorepo, pull requests merged in 2019-11, with the labels that each got.

#371 go-kosu: Add `abci` subcommmand
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/abci/cli/abci.go
  packages/go-kosu/abci/cli/cli.go
  packages/go-kosu/cmd/kosud/main.go
  packages/go-kosu/service/service.go
Labels: enhancement, go-kosu

#375 go-kosu: Promote snapshot_block as a consensus parameter
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/abci/app_test.go
  packages/go-kosu/abci/genesis.go
  packages/go-kosu/abci/types/README.md
  packages/go-kosu/abci/types/types.pb.go
  packages/go-kosu/abci/types/types.proto
  packages/go-kosu/service/service.go
  packages/go-kosu/witness/bindata.go
Labels: go-kosu, will-break-app-state

#378 go-kosu: Add Docker releases
  packages/go-kosu/.goreleaser.yml
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/Dockerfile.binaries
Labels: enhancement, go-kosu

#372 Voting Proxy
  packages/kosu-solidity-tests/test/treasury.ts
  packages/kosu-solidity-tests/test/voting.ts
  packages/kosu-system-contracts/contracts/treasury/Treasury.sol
  packages/kosu-system-contracts/contracts/voting/Voting.sol
  packages/kosu-wrapper-enhancements/src/Treasury.ts
  packages/kosu-wrapper-enhancements/src/Voting.ts
  packages/kosu-wrapper-enhancements/test/treasury_test.ts
  packages/kosu-wrapper-enhancements/test/voting_test.ts
Labels: discussion, enhancement

#369 Updates to validator slashable stake implementation
  packages/kosu-solidity-tests/test/validator_registry.ts
  packages/kosu-system-contracts/contracts/validator/ValidatorRegistry.sol
  packages/kosu-test-helpers/src/index.ts
  packages/kosu-wrapper-enhancements/src/ValidatorRegistry.ts
  packages/kosu-wrapper-enhancements/test/validator_registry_test.ts
Labels: discussion, enhancement
