Repository ParadigmFoundation/kosu-monorepo, pull requests merged in 2019-10, with the labels that each got.

#310 go-kosu: Fix BigInt JSON Serialization
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/abci/types/types.go
  packages/go-kosu/abci/types/types_test.go
Labels: bug, go-kosu

#312 go-kosu: rename initial_posters to inital_poster_info
  packages/go-kosu/abci/app.go
  packages/go-kosu/abci/app_test.go
  packages/go-kosu/abci/genesis.go
Labels: go-kosu

#311 go-kosu: Require power=1 in genesis file
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/abci/app_test.go
  packages/go-kosu/abci/validators.go
Labels: go-kosu

#308 Feature/go kosu/lite client
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/abci/app.go
  packages/go-kosu/abci/client.go
  packages/go-kosu/abci/lite.go
  packages/go-kosu/cmd/kosu-cli/main.go
  packages/go-kosu/cmd/kosulite/main.go
  packages/go-kosu/go.mod
  packages/go-kosu/rpc/service.go
  packages/go-kosu/tests/witness_test.go
Labels: bug, enhancement, go-kosu

#316 Commands refactoring
  .drone.jsonnet
  .drone.yml
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/README.md
  packages/go-kosu/abci/cli/cli.go
  packages/go-kosu/abci/lite.go
  packages/go-kosu/abci/setup.go
  packages/go-kosu/cmd/kosud/main.go
  packages/go-kosu/cmd/kosulite/main.go
  packages/go-kosu/docker-compose.yml
  packages/go-kosu/docs/README.md
  packages/go-kosu/docs/kosu_rpc.md
  packages/go-kosu/docs/usage.md
  packages/go-kosu/rpc/cmd.go
  packages/go-kosu/rpc/doctool/template.md.tpl
  packages/go-kosu/service/cmd.go
  packages/go-kosu/service/service.go
Labels: enhancement, go-kosu

#319 go-kosu: add kosud cli tests
  packages/go-kosu/.gitignore
  packages/go-kosu/cmd/kosud/main.go
  packages/go-kosu/cmd/kosud/main_test.go
  packages/go-kosu/go.mod
  packages/go-kosu/go.sum
Labels: enhancement, go-kosu

#321 go-kosu: Add LatestOrders RPC endpoint
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/abci/cli/cli.go
  packages/go-kosu/abci/client.go
  packages/go-kosu/abci/genesis.go
  packages/go-kosu/abci/order.go
  packages/go-kosu/abci/types/README.md
  packages/go-kosu/abci/types/types.pb.go
  packages/go-kosu/abci/types/types.proto
  packages/go-kosu/cmd/kosu-cli/main.go
  packages/go-kosu/docker-compose.yml
  packages/go-kosu/docs/kosu_rpc.md
  packages/go-kosu/rpc/cmd.go
  packages/go-kosu/rpc/service.go
  packages/go-kosu/service/service.go
  packages/go-kosu/store/cosmos/store.go
  packages/go-kosu/store/order.go
  packages/go-kosu/store/store.go
  packages/go-kosu/store/storetest/testing.go
  packages/go-kosu/testnet/node0/config/genesis.json
  packages/go-kosu/testnet/node1/config/genesis.json
  packages/go-kosu/testnet/node2/config/genesis.json
  packages/go-kosu/testnet/node3/config/genesis.json
  packages/go-kosu/tests/order_test.go
  packages/go-kosu/utils/pagination.go
  packages/go-kosu/utils/pagination_test.go
  packages/go-kosu/witness/bindata.go
Labels: enhancement, go-kosu, will-break-app-state

#325 go-kosu: bump version v0.4.0
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/package.json
  packages/go-kosu/scripts/bump_version.sh
Labels: go-kosu

#339 go-kosu: Fix wrong RPC remote address in lite mode
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/service/service.go
Labels: bug, go-kosu

#338 go-kosu: Add GetBlocks RPC endpoint
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/docs/kosu_rpc.md
  packages/go-kosu/rpc/rpc_test.go
  packages/go-kosu/rpc/service.go
Labels: enhancement, go-kosu

#351 go-kosu: Fix wrong initial validators power calculations
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/abci/app_test.go
  packages/go-kosu/abci/validators.go
Labels: bug, go-kosu

#356 Go kosu/orders list
  packages/go-kosu/CHANGELOG.md
  packages/go-kosu/Makefile
  packages/go-kosu/abci/app.go
  packages/go-kosu/abci/client.go
  packages/go-kosu/abci/lite.go
  packages/go-kosu/abci/validators_test.go
  packages/go-kosu/cmd/kosud/main.go
  packages/go-kosu/cmd/kosud/main_test.go
  packages/go-kosu/rpc/service.go
  packages/go-kosu/store/cosmos/list.go
  packages/go-kosu/store/cosmos/store.go
  packages/go-kosu/store/signature.go
  packages/go-kosu/store/store.go
  packages/go-kosu/store/storetest/testing.go
  packages/go-kosu/tests/witness_test.go
Labels: go-kosu, will-break-app-state

#366 test-helpers: disable linter for specific lines
  packages/kosu-test-helpers/src/index.ts
Labels: help wanted, question
